@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CSW Library</h1>
</div>

<div class="row">
    <div>
        <h2>Welcome to the CSW Library coding challenge</h2>
        <p>
            CSW Library main purpose is to create a website to keep track of your book library.
        </p>
    </div>
</div>